<!DOCTYPE html>
<html ng-app="emcweb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmerCoin Web Wallet</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <img src="{{ url_for('static', filename='img/biglogolinux.png') }}" alt="EmerCoin Wallet" class="img-responsive">
                    </div>
                    <div class="logo-element">
                        EMC
                    </div>
                </li>
                <li class="{% if request.endpoint == 'wallet' %}active{% endif %}">
                    <a href="{{ url_for('wallet') }}">
                        <i class="fa fa-desktop"></i>
                        <span class="nav-label">Overview</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'receive' %}active{% endif %}">
                    <a href="{{ url_for('receive') }}">
                        <i class="fa fa-list"></i>
                        <span class="nav-label">Receive Coins</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'nvs' %}active{% endif %}">
                    <a href="{{ url_for('nvs') }}">
                        <i class="fa fa-bookmark"></i>
                        <span class="nav-label">Manage Names</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'sign' %}active{% endif %}">
                    <a href="{{ url_for('sign') }}">
                        <i class="fa fa-pencil-square"></i>
                        <span class="nav-label">Sign Message</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'minfo' %}active{% endif %}">
                    <a href="{{ url_for('minfo') }}">
                        <i class="fa fa-pie-chart"></i>
                        <span class="nav-label">Information</span>
                    </a>
                </li>
                <li>
                    <a href="https://pool.emercoin.com" target="_blank">
                        <i class="fa fa-users"></i>
                        <span class="nav-label">EmerCoin Pool</span>
                    </a>
                </li>
                <li>
                    <a href="https://hashmachines.com" target="_blank">
                        <i class="fa fa-external-link"></i>
                        <span class="nav-label">HashMachines</span>
                    </a>
                </li>
                {% if login_btn == 1 %}
                <li>
                    <a href="logout">
                        <i class="fa fa-times"></i>
                        <span class="nav-label">Logout</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message"></span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                v1.03.1 / WV: {{ info['version'] }}
            </div>
            <div>
                <strong>&copy; HashMachines</strong> 2016
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    
<!-- Custom and plugin javascript -->
<script src="{{ url_for('static', filename='js/inspinia.js') }}"></script>

<script src="{{ url_for('static', filename='js/favico.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
