{% extends 'layouts/dashboard.html' %}

{% block content %}


<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>New address</h5>
    </div>
    <div class="ibox-content">
        <form action="{{ url_for('wallet_create') }}" method="post">
            <button class="btn btn-primary" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> | Get new address</button>
        </form>
    </div>
</div>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Receive addresses</h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped">
            {% for inforec in inforeceive %}
                <tr>
                    <th>Address</th>
                    <td>{{ inforec }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
